@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Aldrich');
@import url('https://fonts.googleapis.com/css?family=Spectral+SC');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');


.padd{
    border-top: 104px solid transparent;
    margin-top: -104px;
    -webkit-background-clip: padding-box !important;
    -moz-background-clip: padding !important;
    
}
/* przewijanie strony bez paska nawigacji */
#pasek {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px; /* opcjonalnie jakaś wysokość */
    width: 100%;
    border-bottom-color: #FF8C1A;
    border-bottom-style: solid;
    border-bottom-width: thick;
    z-index: 1002;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    
    
}
.OwnNavbar{
   border-bottom-color: #FF8C1A;
    border-bottom-style: solid;
    border-bottom-width: thick;
    z-index: 1002;
    position: fixed !important;
    width: 100%;
    padding: 1rem 1rem !important;
    
    
    
}
.font{
    font-family: 'Fjalla One';
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: #1d1240 !important;
    
}
.font:hover{
	color: transparent !important;
}

a.nav-item.nav-link.font {
    padding-right: 8rem;
    padding-left: 10rem;
}
.navbar-collapse {
    padding-right: 15px;
    padding-left: 4rem !important;
}

.smaller-s{
    height: 8.5rem;
   
    
}
.respon{
    width: 10%;
    margin-left: 50px;
    
}


.navig{
    text-align: center;
    margin-top: 35px;
}

.navig-element{
    display: inline;
    padding: 0 35px 0 0;
}

#woda:focus{
    transition: ease-in 0.5s;
}

.water-photo{
	width: 40px;
	height: 50px;
	display: none;
    margin-left: -50px;
    top: 15px;
    
}

.nav-item:hover .water-photo{
	display: inline-block;
	position: absolute;
    transition: ease-in 0.3s;
    opacity: 0.5;
}

#ogien:hover{
    color: transparent;
    transition-duration: ease-in 0.5s;
}
#ogien:focus{
    transition: ease-in 0.5s;
}

.fire-photo{
    width: 5rem;
    height: 5rem;
    display: none;
    margin-left: -45px;
    top: 15px;
}
.nav-item:hover .fire-photo{
    display: inline-block;
    position: fixed;
    transition: ease-in 0.3s;
    opacity: 0.5;
}

#nawigacja:hover, #nawigacja:focus{
    color: transparent;
}

.compass-photo{
    width: 50px;
    height: 45px;
    display: none;
    margin-left: -77px;
    top: 20px;
}

.nav-item:hover .compass-photo{
    display: inline-block;
    position: absolute;
    transition: ease-in 0.3s;
    opacity: 0.5;
}

#przetrwanie:hover, #przetrwanie:focus{
    color: transparent;
}

.survival-photo{
    width: 50px;
    height: 60px;
    display: none;
    margin-left: -65px;
    top: 15px;
        
}

.nav-item:hover .survival-photo{
    display: inline-block;
    position: absolute;
    transition: ease-in 0.3s;
    opacity: : 0.5s;
}
/*************** </header> *******************/
.pagephoto{
    width: 100%;
    height: 100vh;
    margin-top: 7rem;
    
    padding-top: 100px;
     
}

  
.about{
    text-align: center;                         /******* sekcje water, fire... *******/
    font-family: 'Aldrich', 'Anton', monospace;
    color: #FFFFFF;
    font-size: 40px;
    background-color: #FF8c1a;
    margin-top: 0;
    margin-bottom: 15px;

}




.inside{
    text-align: justify;                /******* content strony ******/
    margin-left: 0;
    margin-right: 0;
    font-family: 'Spectral SC', serif;
    font-size: 15px;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 3%;
    
}
    
    
.water-tab{                             /****** lista odwodnienia ******/
    text-align: justify;
    display: table;
    margin-top: 3%;
    margin-bottom: 3%;  
}
.torebka{
    float: right;
    margin-left: 2%;       
}
.destylarka{
    float: left;
    margin-right: 2%;
    margin-bottom: 3%;
}
hr{
    width: 70%; 
    height:  2px !important;
    border: 2px;
}

.water-tab-w{
    margin-bottom: -5%;
}

.marg{
    margin-right: -3%;
    padding-left: 2%;
}
.respon{
    padding-bottom: 15%;  /****** obrazek bonfire ******/
    display: inline-block;
    width: 180px;
    max-width: 180px;
    min-width: 50px;
    min-height: 80px;
    height: 240px;
    float: left;
}

.security{
    color: firebrick;
}

.triangle-fire{         /********** obrazek trojkat spalania *******/
    max-width: 100%;
    height: auto;
     
}

body {overflow-x: hidden !important;}

.indeks{
    padding-left: 60px;
}

/********* <paralaksa> **********/
.parallax { 
    /* The image used */
    background-image: url("img/pagephoto_1200x900.jpg");
    
    /* Set a specific height */
    min-height: 700px;
    width: 100%;
    

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    margin-top: 100px;
    
    
}
.parallax2 { 
    /* The image used */
    background-image: url("img/bgwater.jpg");
    
    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: relative;
    background-repeat: no-repeat;
    /*background-size: 100% 100vw;*/
    background-size: cover;
    
    
    
}

.parallax3 { 
    /* The image used */
    background-image: url("img/ogien_parallax.jpg");
    
    /* Set a specific height */
    min-height: 500px;
    min-width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax4{
     /* The image used */
    background-image: url("img/mapa_kompas.jpg");
    width: 100%;
    /* Set a specific height */
    min-height: 500px; 
    

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;  
}

/********* paralaksa end *******/
@media only screen and (max-width: 1024px) {
    .parallax2{
        min-height: 500px;
    }
    .parallax3{
        background-image: url(img/ogien_parallax_tablet.jpg);
    }
    .parallax{
        min-height: 500px;
    }
     .krzesiwo{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    .parallax2{
        min-height: 350px;
    }
    .parallax3{
        background-image: url(img/Fire-800-x-400.jpg);
        min-height: 400px;
        background-size: cover;
    }
    .parallax{
        background-image: url(img/pagephoto_smartphone1.jpg);
        
        background-size: cover;
    }
    .krzesiwo{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

/********** progress bar *********/


.container {
  margin: 40px auto;
  width: 600px;
  text-align: center;
}

.container .progress {
  margin: 0 auto;
  width: 800px;
}

.progress {
  padding: 4px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 16px;
  border-radius: 4px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 1.3s cubic-bezier(.14,.33,.56,.96);
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       https://css-tricks.com/webkit-sibling-bug/
 */

#five:checked ~ .progress > .progress-bar {
  width: 2%;
  background-color: #86e01e;
}

#twentyfive:checked ~ .progress > .progress-bar {
  width: 5%;
  background-color: #f2d31b;
}

#fifty:checked ~ .progress > .progress-bar {
  width: 10%;
  background-color: #f2b01e;
}

#seventyfive:checked ~ .progress > .progress-bar {
  width: 15%;
  background-color: #f27011;
}

#onehundred:checked ~ .progress > .progress-bar {
  width: 100%;
  background-color: #f63a0f;
}

.radio {
  display: none;
}

.label {
  display: inline-block;
  margin: 0 5px 20px;
  padding: 3px 8px;
  color: #aaa;
  text-shadow: 0 1px black;
  border-radius: 3px;
  cursor: pointer;
    font-size: 20px;
    color: darkslategrey;
}

.radio:checked + .label {
  color: antiquewhite;
  background: rgba(0, 0, 0, 0.25);
}
/********** progress bar end ********/

/*************** border ************/



.inline-svg {
  /* Doesn't work at all in IE */
  
  border: 10px solid white;
  border-image: url("img/border.svg") 10% stretch;
}
/* styling for Pen, unrelated to border-image */

* {
  box-sizing: border-box;
}

.div {
  width: 100%vw;
  height: 100%vh;
  margin: 4em auto;
}
/******** border end**********/
.tipi {
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
    background: url('img/szalas0.jpg') no-repeat center;
    background-size: cover;
}

@media (max-width: 640px) {
    .tipi {
        background-image: url('img/szalas0.jpg');
    }
}

@media only screen and (max-width: 640px) and (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .tipi {
        background-image: url('img/szalas0.jpg');
    }
}

/********* survival table *********/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);



div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
/******** table end ************/
.azymut{
    margin-left: 3%;
}

.footerstyl{
    font-family: 'Open Sans Condensed', serif;
    text-align: center;
}





/* ANIMATIONS **************************************************/

.fade-in {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
} 


.fade-in-up{
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
  
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
} 

.fade-in-down {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
} 

.fade-in-right {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
} 

.fade-in-left {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
} 